@orange: #c6573b;
@sidebarWidth: 120px;

@font-face {
    font-family: Gambler;
    src: url("gambler.ttf") format('truetype');
}

@font-face {
    font-family: Western;
    src: url("western.ttf") format('truetype');
}

@font-face {
    font-family: Marlboro;
    src: url("marlboro.ttf") format('truetype');
}
html, body {
    height:100%;
}
b, strong {
    font-weight: 500;
}
.container {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: initial;
    .sidebar{
        float: left;
        max-width: @sidebarWidth;
        margin: 0;
        padding: 1em;
        background-color: @orange;
        color: #fff;
        position: fixed;
        height: 100%;
        display: flex;
        flex-direction: column;
        .side-title{
            display: flex;
            flex: 1;
            padding: 10px;
            .text{
                position: relative;
                left: 42px;
                transform: rotate(270deg);
                font-size: 55px;
                text-transform: uppercase;
                font-family: Gambler;
                font-weight: lighter;
                letter-spacing: 2px;
                top: 0px;
            }
        }
        .sidebar-content{
            flex: 7;
            display: flex;
            flex-direction: column;
            margin: 0px 10px;
            img{
                padding-bottom: 5px;
            }
            .side-section{
                font-size: 10px;
                font-weight: 100;
                margin: 20px 0px;
                .smaller{
                    font-size: 8px;
                }
            }
            ul{
                text-align: center;
                list-style-type: none;
                padding: 0;
            }
        } 
    }
    .left, .right{
        width:50%;
        float:left;
    }
    .main-content{
        min-width: 600px;
        @media screen and (max-width: 1215px){
            background-image: url('./delicious.jpg');
            width:100%;
            height: 100%;
            background-size: cover;
            background-attachment: fixed;
        }
    }
    .large-image{
        background-image: url('./delicious.jpg');
        height: 100%;
        background-position: 50%;
        @media screen and (max-width: 1215px){
            display: none;
        }
    }
    .section{
        margin-top: 25px;
        display: inline-block;
    }
    .main{

        @media screen and (max-width: 1215px){
            padding: 10px 40px;
            overflow: hidden;
            background-color: #fff;
            opacity: 0.8;
            margin: 0px auto;
            max-width: 420px;
        }
        @media screen and (max-width: 675px){
            margin-left: @sidebarWidth;
        }

        padding: 10px 40px;
        overflow: hidden;
        margin-left: @sidebarWidth;
        h1{
            font-family: Western;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 70px;
            font-weight: 900;
            line-height: 47px;
            .under{
                font-family: Marlboro;
                font-size: 66px;
                letter-spacing: 2px;
                color: @orange;
            }
        }
        .intro{
            font-size: 11px;
            font-style: italic;
            .first-letter{
                line-height: 39px;
                float: left;
                display: inline;
                font-size: 40px;
                font-family: Western;
                font-weight: 900;
                font-style: normal;
                padding-right: 5px;
            }
        }
        .instructions{
            font-size: 12px;
            border-bottom: 4px solid @orange;
            .head{
                color: #fff;
                background-color: @orange;
                display: inline-block;
                width: 100%;
                padding: 5px;
                font-style: italic;
                font-family: serif;
            }
            .directions{
                ol{
                    li{
                        color: @orange;
                        font-weight: 600;
                        font-size: 16px;
                        p{
                            color: #111;
                            font-weight: 100;
                            font-size: 11px;
                        }
                    }
                }

            }
            .ingredients{
                strong{
                    font-weight: 600;
                }
                ul{
                    list-style: none;
                    color: @orange;
                    padding-left: 0px;
                    li{
                        padding: 3px;
                    }
                }
            }
        }
        .fact{
            width: 100%;
            color:@orange;
            display: inline-block;
            h4{
                font-weight: 600;
                font-style: italic;
            }
            p{
                text-indent: 20px;
                font-size: 11px;
            }
        }
    }
    width: 100%;
}